In [1]:
import os
print(os.listdir())

['.ipynb_checkpoints', 'Data-Preproceesing', 'Decision Tree', 'KNN', 'LinearRegression', 'MachineLearning', 'MachineLearning.zip', 'Naive_Bayes', 'PortFolioProject', 'pythonBasics', 'SVM', 'telecust1.csv', 'Untitled Folder', 'Untitled.ipynb']

In [2]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('./telecust1.csv')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   region   1000 non-null   int64
 1   age      998 non-null    float64
 2   marital  1000 non-null   int64
 3   address  1000 non-null   int64
 4   income   1000 non-null   int64
 5   ed       1000 non-null   int64
 6   retire   1000 non-null   int64
 7   gender   1000 non-null   int64
 8   reside   1000 non-null   int64
 9   custcat  1000 non-null   int64
dtypes: float64(1), int64(9)
memory usage: 78.2 KB

In [7]:
data.head()

   region   age  marital  address  income  ed  retire  gender  reside  custcat
0       2   NaN        1        9      64   4       0       0       2        1
1       3   NaN        1        7     136   5       0       0       6        4
2       3  52.0        1       24     116   1       0       1       2        3
3       2  33.0        0       12      33   2       0       1       1        1
4       2  30.0        1        9      30   1       0       0       4        3